openapi: 3.0.3
servers:
  - url: https://api.github.com
info:
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  title: GitHub v3 REST API
  version: 1.1.4
  x-apisguru-categories:
    - collaboration
    - developer_tools
  x-github-plan: api.github.com
  x-logo:
    url: https://twitter.com/github/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/github/rest-api-description/main/descriptions/api.github.com/api.github.com.json
      version: "3.0"
  x-providerName: github.com
  x-serviceName: api.github.com
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
tags:
  - description: Endpoints to manage GitHub Actions using the REST API.
    name: actions
  - description: Activity APIs provide access to notifications, subscriptions, and timelines.
    name: activity
  - description: Information for integrations and installations.
    name: apps
  - description: Monitor charges and usage from Actions and Packages.
    name: billing
  - description: Rich interactions with checks run by your integrations.
    name: checks
  - description: Retrieve code scanning alerts from a repository.
    name: code-scanning
  - description: Insight into codes of conduct for your communities.
    name: codes-of-conduct
  - description: Endpoints to manage Codespaces using the REST API.
    name: codespaces
  - description: List emojis available to use on GitHub.
    name: emojis
  - description: Endpoints to manage Dependabot.
    name: dependabot
  - description: Endpoints to access Dependency Graph features.
    name: dependency-graph
  - description: View, modify your gists.
    name: gists
  - description: Raw Git functionality.
    name: git
  - description: View gitignore templates
    name: gitignore
  - description: Owner or admin management of users interactions.
    name: interactions
  - description: Interact with GitHub Issues.
    name: issues
  - description: View various OSS licenses.
    name: licenses
  - description: Render GitHub flavored markdown
    name: markdown
  - description: Interact with GitHub Merge Queues.
    name: merge-queue
  - description: Endpoints that give information about the API.
    name: meta
  - description: Move projects to or from GitHub.
    name: migrations
  - description: Endpoints to manage GitHub OIDC configuration using the REST API.
    name: oidc
  - description: Interact with GitHub Orgs.
    name: orgs
  - description: Manage packages for authenticated users and organizations.
    name: packages
  - description: Interact with GitHub Projects.
    name: projects
  - description: Interact with GitHub Pull Requests.
    name: pulls
  - description: Check your current rate limit status
    name: rate-limit
  - description: Interact with reactions to various GitHub entities.
    name: reactions
  - description: Interact with GitHub Repos.
    name: repos
  - description: Look for stuff on GitHub.
    name: search
  - description: Retrieve secret scanning alerts from a repository.
    name: secret-scanning
  - description: Interact with GitHub Teams.
    name: teams
  - description: Interact with and view information about users and also current user.
    name: users
paths:
  /markdown:
    post:
      description: ""
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/reference/markdown#render-a-markdown-document
      operationId: markdown/render
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Rendering markdown
                value:
                  text: Hello **world**
            schema:
              properties:
                context:
                  description: The repository context to use when creating references in `gfm` mode.  For example, setting `context` to `octo-org/octo-repo` will change the text `#42` into an HTML link to issue 42 in the `octo-org/octo-repo` repository.
                  type: string
                mode:
                  default: markdown
                  description: The rendering mode.
                  enum:
                    - markdown
                    - gfm
                  example: markdown
                  type: string
                text:
                  description: The Markdown text to render in HTML.
                  type: string
              required:
                - text
              type: object
        required: true
      responses:
        "200":
          content:
            text/html:
              examples:
                default:
                  summary: Example response
                  value: <p>Hello <strong>world</strong></p>
              schema:
                type: string
          description: Response
          headers:
            Content-Length:
              example: "279"
              schema:
                type: string
      summary: Render a Markdown document
      tags:
        - markdown
      x-github:
        category: markdown
        enabledForGitHubApps: true
        githubCloudOnly: false
        subcategory: null
 